@charset "utf-8";
/*ν—¤λ”*/
header{}
header h1{
	line-height:70px;
	text-align:center;
	position:relative;
	padding:35px 0;
}
header h1 img{}
.contact{
	width:96px;
	height:40px;
	line-height:40px;
	background:#232323;
	border-radius:20px;
	box-sizing:border-box;
	position:absolute;
	right:0;
	top:50px;
	font-size:13px;
	font-weight:300;
	transition:0.2s;
}
.contact:hover{
	background:#228bcc;
}
.contact a{
	display:block;
	color:#fff;
}
/*ν‘Έν„°*/
footer{
	background:#232323;
	text-align:center;
	margin-top:50px;
}
footer p{
	color:#fff;
	font-size:12px;
	padding:30px 0;
}